<form>
    <div class = "form-group"></div>
    <label>Bill Total</label>
    {{input type= "number" class ="form-control" value = billAmount placeholder ="Enter Bill Total"}}


</form>

<button {{action 'calc'}}>Calc tip total</button>


